@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-weight: 400;
}
a{
    color:#333;
    text-decoration: none;
    transition: .3s;
}

/* Top Area CSS */

.top-area {
	background-color: #635CDB;
	padding: 10px 0;
}

.top-left a {
    color: #fff;
    margin-right: 16px;
  }
  .top-social {
    text-align: right;
  }
  .top-social a {
    color: #fff;
    margin-left: 10px;
  }

/* Header Area CSS */


.navbar-brand {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
  }
  .navbar-nav a:hover {
    color: #635CDB !important;
  }