@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html, body{
  height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #333;
    font-weight: 400;
}
a{
    color:#333;
    text-decoration: none;
    transition: .3s;
}
.bg{
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.bg:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .75;
  left: 0;
  top: 0;
  z-index: -1;
}
.box-btn {
  display: inline-block;
  background-color: #635CDB;
  color: #fff;
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}
.box-btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  transition: .3s;
  opacity: 0;
}
.box-btn:hover i {
  right: 15px;
  opacity: 1;
}
.box-btn:hover {
  color: #fff;
}
.pt-100{
  padding-top: 100px;
}
.pb-100{
  padding-bottom: 100px;
}

/* Section Title CSS */


.section-title {
  position: relative;
  margin-bottom: 100px;
}
.row.section-title h4 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
}
.section-title:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #635CDB;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}
.section-title::before {
	position: absolute;
	content: "";
	width: 110px;
	height: 2px;
	background-color: #635CDB;
	left: 50%;
	transform: translateX(-50%) rotate(90deg);
	top: 38px;
}

/* Top Area CSS */

.top-area {
	background-color: #635CDB;
	padding: 10px 0;
}

.top-left a {
    color: #fff;
    margin-right: 16px;
    font-size: 14px;
  }
  .top-social {
    text-align: right;
  }
  .top-social a {
    color: #fff;
    margin-left: 10px;
    font-size: 14px;
  }

/* Header Area CSS */


.navbar-brand {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
  }
  .navbar-nav a:hover {
    color: #635CDB !important;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
  }

/* Slider Area CSS */

.slider-area, .sliders, .single-slide, .slider-area .owl-stage-outer, .slider-area .owl-stage, .slider-area .owl-item {
  height: 100%;
  position: relative;
}
.slide-content {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.slide-content h4 {
  text-transform: capitalize;
  position: relative;
  display: inline-block;
  padding-bottom: 14px;
}
.slide-content h4:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #635CDB;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.slide-content h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
}

.slider-area .owl-dots {
  position: absolute;
  right: 40px;
  display: flex;
  top: 50%;
  flex-direction: column;
  transform: translateY(-50%);
}
.slider-area .owl-dots button {
  background-color: #fff !important;
  width: 20px;
  height: 20px;
  margin: 5px 0px;
}
.slider-area .owl-dots .owl-dot.active {
  background-color: #635CDB !important;
}

/* About Area CSS */


.about-content h4 {
  text-transform: capitalize;
  font-size: 26px;
  position: relative;
  padding-bottom: 12px;
}
.about-content h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #635CDB;
  bottom: 0;
  left: 0;
}
.single-about {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.single-about i {
  font-size: 16px;
  border: 1px solid #635CDB;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #635CDB;
  transition: .3s;
}
.icon {
  margin-right: 22px;
}
.single-about h4 {
  text-transform: capitalize;
  font-size: 22px;
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
}
.single-about:hover i {
  background-color: #635CDB;
  color: #fff;
}
.single-about h4:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #635CDB;
  bottom: 0;
}